@model IEnumerable<StarWarsTradingCardCollectionMVC.ViewModels.SetIndexVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />

<h1>Collection Overview</h1>

@foreach (var set in Model)
{
<button class="accordion">@set.SetName (@set.Year)</button>
<div class="accordion-content">
    @foreach (var series in set.Series)
    {
    <button class="accordion">@series.SeriesName</button>
    <div class="accordion-content">
        @foreach (var card in series.Card)
        {
        <div class="accordion-content">
            <p>@card.CardNo @card.CardName</p>
        </div>
        }
    </div>
    }
</div>
}

<script src="~/js/Accordion.js"></script>